# Add an override so that .🔥 files are highlighted as Mojo files within github
# since the linguist system does not work with the .🔥 extention.
# See https://github.com/github/linguist/blob/master/docs/overrides.md
*.🔥 linguist-language=Mojo
# SCM syntax highlighting & preventing 3-way merges
pixi.lock merge=binary linguist-language=YAML linguist-generated=true -diff
